CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache
lib
*.cmake
*.tcl
build
.vs
.vscode
compile_commands
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
bin
bin-int
*.ini

build.exe
build.obj

*.lnk
