[submodule "deps/export-compile-commands"]
	path = deps/export-compile-commands
	url = https://github.com/marcusyqy/premake-export-compile-commands.git
[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/marcusyqy/glfw.git
[submodule "glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
